{% extends 'base.html.twig' %}

{% block title %}Pendu{% endblock %}

{% block body %}
    {{ parent() }}

    <h3>{{ gameMechanics.hiddenWord }}</h3>

    <p>
        <span>Tester une lettre: </span><br/>
    {% for letter in 'A'..'Z' %}
        <a href="{{ path('pendu_try_letter', {'letter': letter}) }}">{{ letter }}</a>&nbsp;
    {% endfor %}
    </p>

    <p>
        <span>Tester un mot :</span><br/>
        {{ form_start(formulaire) }}
        {{ form_error(formulaire.word) }}
        {{ form_label(formulaire.word) }}
        {{ form_widget(formulaire.word) }}
        {{ form_end(formulaire) }}
    </p>

{% endblock %}
